@font-face {
	font-family: 'Georgia';
	src: url('../font/Georgia-Bold.eot');
	src: local('Georgia Bold'), local('Georgia-Bold'),
		url('../font/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Georgia-Bold.woff') format('woff'),
		url('../font/Georgia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../font/Georgia.eot');
	src: local('Georgia'),
		url('../font/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../font/Georgia.woff') format('woff'),
		url('../font/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  	font-family: 'Georgia';
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #525252;
}

* {
  outline: none;
}
nav {
  border: 1px solid #606060;
  border-top: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}
.menu-header {
  display: flex;
  li {
    margin: 0 25px;
    position: relative;
    &:after {
      content: "|";
      display: inline-block;
      position: absolute;
      right: -25px;
    }
    &:last-child:after {
      display: none;
    }
  }
}
.lang {
  display: flex;
  li {
    margin: 0 15px;
    position: relative;
    &:after {
      content: "|";
      display: inline-block;
      position: absolute;
      right: -15px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.header-section {
  background-image: url(../img/bg1.jpg);
  p {
    color: #39415b;
  }
}
.bold {
  font-weight: bold;
  font-size: 20px;
}
.first-block-header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  .logo-h {
    width: 220px;
    text-align: center;
    img {
      width: 80px;
    }
  }
}
.borderBottom {
  position: relative;
  top: 12px;
  &::after {
    content: "";
    position: absolute;
    width: 102%;
    height: 1px;
    background-color: #606060;
  }
}
p {
  font-size: 18px;
}
.second-block-header {
  padding: 60px 0;
  display: flex;
  align-items: center;
  .men-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
    img {
      width: 50%;
    }
  }
}


.quiz {
	margin-bottom: 30px;
	span {
		margin-right: 30px;
		input {
			display: none;
			&:checked + label:after {
				opacity: 1;
			}
		}
		label {
			position: relative;
			&:after {
				display: inline-block;
				content: "✓";
				position: absolute;
				opacity: 0;
				left: -2px;
				font-size: 25px;
				top: -8px;
			}
		}
		label span{
			display: inline-block;
			width: 10px;
			height: 13px;
			margin-right: 10px;
			border: 2px solid #39415b;
			margin-bottom: 0;
			position: relative;

		}

	}


}
.consult-btn {
	padding: 10px 20px;
	font-size: 22px;
	font-weight: bold;
	color: #39415b;
	margin-left: 100px;
	border: 1px solid #39415b;
	background-color: inherit;
	border-radius: 5px;
	outline: inherit;
}
.h1 {
	font-size: 30px;
	color: #39415b;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 48%;
		width: 60px;
		height: 6px;
		background-color: #39415b;
	}
}
.pd-30 {
	padding: 30px 0;
}
.border-bt {
	border-bottom: 1px solid #333;
}
.text-content1 {
	padding: 0 70px;
	& > div {
		margin-bottom: 20px;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 10px;
		color: #363636;
	}
}
.img1 {
	width: 200px;
	padding-right: 30px;
}
.orange {
	color: #9c4900;
}
.circle {
	padding: 50px 0;
	text-align: center;
	position: relative;
	& > div {
		max-width: 270px;
		position: absolute;
	}
	.block1 {

		left: 50%;
		top: 200px;
		transform: translateX(-50%);
	}
	.block2 {
		right: 30px;
		top: 350px;
	}
	.block3 {
		right: 110px;
		bottom: 0px;
	}
	.block4 {
		left: 110px;
		bottom: 0;
	}
	.block5 {
		left: 0px;
		top: 350px;
	}
	.h3 {
		font-size: 20px;
		font-weight: bold;
		color: #343435;
		text-decoration: underline;
		text-transform: uppercase;
	}
	p {
		font-size: 16px;
	}
}
.circle-img {
	width: 60%;
}
.img3 {
	width: 220px;
}
.text-content1 {
	ul {
		padding-top: 30px;
		margin-left: 60px;
		li {
			color: #618ac7;
			margin-bottom: 15px;
			span {
				color: #363636;
			}
		}
	}
}
