@font-face {
	font-family: 'Georgia';
	src: url('../font/Georgia-Bold.eot');
	src: local('Georgia Bold'), local('Georgia-Bold'),
		url('../font/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Georgia-Bold.woff') format('woff'),
		url('../font/Georgia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../font/Georgia.eot');
	src: local('Georgia'),
		url('../font/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../font/Georgia.woff') format('woff'),
		url('../font/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  	font-family: 'Georgia';
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #525252;
}

button, a{
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

* {
  outline: none;
}

nav {
  border: 1px solid #606060;
  border-top: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.menu-header {
  display: flex;
  li {
    margin: 0 25px;
    position: relative;
    &:after {
      content: "|";
      display: inline-block;
      position: absolute;
      right: -25px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.lang {
  display: flex;
  li {
    margin: 0 15px;
    position: relative;
    &:after {
      content: "|";
      display: inline-block;
      position: absolute;
      right: -15px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.header-section {
  background-image: url(../img/bg1.jpg);
	background-size: cover;
  p {
    color: #39415b;
  }
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.first-block-header {
  display: flex;
  align-items: center;
  padding-top: 30px;
	.menu_btn{
		display: none;
	}
  .logo-h {
    width: 220px;
    text-align: center;
    img {
      width: 80px;
    }
  }
}

.borderBottom {
  position: relative;
  top: 12px;
  &::after {
    content: "";
    position: absolute;
    width: 102%;
    height: 1px;
    background-color: #606060;
  }
}
p {
  font-size: 18px;
}

.mob_menu{
	position: fixed;
	transform: translateX(100%);
	transition: all.2s ease-in-out;
	right: 0;
	background-color: #fff;
	height: 100vh;
	top: 0;
	z-index: 10;
	padding: 20px;
	&.active{
		transform: translateX(0%);
	}
	ul{
		padding-left: 0;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		li{
			list-style-type: none;
			margin-bottom: 5px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				color: #525252;
			}
		}
	}
}

.second-block-header {
  padding: 60px 0;
  display: flex;
  align-items: center;
  .men-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
    img {
      width: 50%;
    }
  }
}

.quiz {
	margin-bottom: 30px;
	span {
		margin-right: 30px;
		input {
			cursor: pointer;
			display: none;
			&:checked + label:after {
				opacity: 1;
			}
		}
		label {
			position: relative;
			cursor: pointer;
			&:after {
				display: inline-block;
				content: "✓";
				position: absolute;
				opacity: 0;
				left: -1px;
				font-size: 20px;
				top: -8px;
			}
		}
		label span{
			display: inline-block;
			width: 10px;
			height: 13px;
			margin-right: 10px;
			border: 2px solid #39415b;
			margin-bottom: 0;
			position: relative;
		}

	}
}

.answear {
	display: none;
	max-width: 880px;
	padding-right: 50px;
	.wrap{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.text{
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 0;
	}
	ul{
		padding-left: 0;
		li{
			color: #39415b;
			font-size: 20px;
			line-height: 26px;
			list-style-type: none;
		}
	}
}

.consult-btn {
	padding: 10px 20px;
	font-size: 22px;
	font-weight: bold;
	color: #39415b;
	margin-left: 100px;
	border: 1px solid #39415b;
	background-color: inherit;
	border-radius: 5px;
	outline: inherit;
}

.consult-btn2{
	display: none;
	margin-top: 30px;
}

.h1 {
	font-size: 30px;
	color: #39415b;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 48%;
		width: 60px;
		height: 6px;
		background-color: #39415b;
	}
}
.pd-30 {
	padding: 30px 0;
}
.border-bt {
	border-bottom: 1px solid #333;
}
.text-content1 {
	padding: 0 70px;
	& > div {
		margin-bottom: 20px;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 10px;
		color: #363636;
	}
}
.img1 {
	width: 200px;
	padding-right: 30px;
}
.orange {
	color: #9c4900;
}
.circle {
	padding: 50px 0;
	text-align: center;
	position: relative;
	& > div {
		max-width: 270px;
		position: absolute;
	}
	.block1 {

		left: 50%;
		top: 200px;
		transform: translateX(-50%);
	}
	.block2 {
		right: 30px;
		top: 350px;
	}
	.block3 {
		right: 110px;
		bottom: 0px;
	}
	.block4 {
		left: 110px;
		bottom: 0;
	}
	.block5 {
		left: 0px;
		top: 350px;
	}
	.h3 {
		font-size: 20px;
		font-weight: bold;
		color: #343435;
		text-decoration: underline;
		text-transform: uppercase;
	}
	p {
		font-size: 16px;
	}
}
.circle-img {
	width: 60%;
}
.img3 {
	width: 220px;
}
.text-content1 {
	ul {
		padding-top: 30px;
		margin-left: 60px;
		li {
			color: #618ac7;
			margin-bottom: 15px;
			span {
				color: #363636;
			}
		}
	}
}

.variant {
	color: #363636;
	padding-top: 30px;
	p {
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.img1 {
		padding: 0;
		padding-left: 40px;
		position: relative;
		top: -10px;
	}
}


.chart {
	text-align: center;
	position: relative;
	padding: 60px 0;
	img {
		width: 60%;
	}
	p {
		max-width: 200px;
		position: absolute;
	}
	.block1 {
		top: 30px;
		right: 26%;
	}
	.block2 {
		top: 130px;
		right: 18%;
	}
	.block3 {
		bottom: 130px;
		right: 8%;
		max-width: 270px!important;
	}
	.block4 {
		bottom: 30px;
		right: 21%;

	}
	.block5 {
		bottom: 30px;
		right: 53%;
	}
	.block6 {
		bottom: 130px;
		left: 10%;
	}
	.block7 {
		top: 240px;
		left: 10%;
	}
	.block8 {
		top: 130px;
		left: 24%;
	}
}


.chart2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.block {
		width: 250px;
		text-align: center;
		.graf {
			position: relative;
			span {
				position: absolute;
				top: 48%;
				transform: translate(-50%);
				left: 52%;
			}
		}
		img {
			width: 100%;
		}
	}
}
.hand {
 img {
	 position: absolute;
	 width: 100%;
	 z-index: 1;
 }
 .hand-text {
	 width: 70%;
	 position: relative;
	 margin-left: auto;
	 margin-right: 200px;
	 margin-bottom: 200px;
		padding-top: 250px;
		z-index: 2;
	 text-align: right;
	 p {
		 font-size: 25px;
		 line-height: 34px;
		 margin-bottom: 30px;
	 }
 }
}

.why {
	background-image: url(../img/bgline.png);
	background-position: center 35%;
	background-repeat: no-repeat;
	.d-flex-l {
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		img {
			width: 18%;
			padding-right: 30px;
		}
	}
	.d-flex-r {
		margin-bottom: 50px;

		display: flex;
		align-items: center;
		justify-content: flex-end;
		img {
			width: 18%;
			padding-left: 40px;
		}
	}
}

.tabs .container  {
	padding-bottom: 50px;
}
.nav-tab-item {
	margin-top: 80px;
	.nav-tabs {
		display: flex;
		justify-content: space-between;
		border: none;
	}
	.nav-item {
		width: 220px;
		color: #444444;
		height: 220px;
		border-radius: 50%;
		display: flex;
		position: relative;
		align-items: center;
		text-align: center;
		justify-content: center;
		border: none;
		background-color: #e8e8e8;
		font-size: 22px;
		&.active {
			background-color: #ffc717;
			span {
				background-color: #bababa;
				color: #fff;
			}
		}
		span {
			position: absolute;
			bottom: -100px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #e8e8e8;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

#nav-tabContent {
	margin-top: 80px;
	display: flex;
	align-items: center;
	border: 4px solid #bababa;
	padding: 50px;
	img {
		width: 140px;
		display: inline-block;
		margin-right: 50px;
	}
	.tab-pane {
		font-size: 24px;
	}
}

.price-card {
	.name {
		text-align: center;
		padding: 20px 0;
		color: #fff;
		font-size: 35px;
	}
	.info1 {
		padding: 15px 10px;
		min-height: 300px;
		p {
			font-size: 22px;
		}
		ul {
			margin: 0;
			padding-left: 20px;
			li {
				margin-bottom: 15px;
				span {
					color: #5c5c5c;
				}
			}
		}
	}
	.info2 {
		padding: 0 30px;
		p {
			font-size: 22px;
		}
	}
	.btn {
		margin: 20px 0;
		padding: 10px 15px;
		font-size: 28px;
		display: inline-block;
		color: #fff;
	}
}
.green {
	border: 2px solid #82d986;
	.name {
		background-color: #82d986;
	}
	li {
		color: #82d986;
	}
	.btn {
		background-color: #82d986;
	}
}
.blue {
	border: 2px solid #39415b;
	.name {
		background-color: #39415b;
	}
	li {
		color: #39415b;
	}
	.btn {
		background-color: #39415b;
	}
}

.yellow {
	border: 2px solid #ebc53c;
	.name {
		background-color: #ebc53c;
	}
	li {
		color: #ebc53c;
	}
	.btn {
		background-color: #ebc53c;
	}
}

.not-sale {
	padding: 60px 0;
	position: relative;
	.redarr {
		position: absolute;
		right: 120px;
		top: 0;
		width: 200px;
		img {
			width: 100%;
		}
	}
	p {
		font-size: 22px;
		color: #39415b;
		margin-bottom: 20px;
		font-weight: bold;
	}
}

footer {
	background-color: #e9e9e9;
	padding: 10px 0;
	p {
		font-style: italic;
		font-size: 14px;
		color: #696868;
		margin-bottom: 5px;
	}
}



/* MEDIA */
@media screen and (max-width: 1025px){
	.not-sale .redarr {
		width: 130px;
		right: 20px;
	}
	.nav-tab-item .nav-item {
		width: 160px;
		height: 160px;
		font-size: 16px;
	}
	#nav-tabContent .tab-pane {
		font-size: 20px;
	}
}
@media screen and (max-width: 991px){
	.bold, .answear .text, .answear ul li{
		font-size: 19px;
	}
	p, body{
		font-size: 17px;
	}
	.second-block-header{
		.men-img{display: none;}
		.btn_wrap{
			text-align: center;
		}
		.consult-btn{margin-left: 0;font-size: 19px;}
	}
	.first-block-header .logo-h{
		width: 180px;
		img {
 			width: 60px;
 		}
	}
}

@media screen and (max-width: 768px){
	.bold, .answear .text, .answear ul li{
		font-size: 18px;
	}
	.second-block-header{
		padding: 50px 0;
	}
	.quiz{
		margin-bottom: 20px;
	}
	.second-block-header .consult-btn{
		font-size: 18px;
	}
	p, body{
		font-size: 16px;
	}
	header{
		.container{
			max-width: none;
		}
	}
	.first-block-header .logo-h{
		width: 130px;
		img{
			width: 40px;
		}
	}
	.menu-header li{
		margin: 0 15px;
		&::after{
			right: -15px;
		}
	}
	.why {
		background: none;
	}
	.why .d-flex-r img {
		padding-left: 10px;
	}
	.why .d-flex-l img {
		padding-right: 15px;
	}
	.why .d-flex-l,.why .d-flex-r {
		margin-bottom: 25px;
	}
	.hand .hand-text {
		width: 100%;
		text-align: left;
	}
	.hand .hand-text {
		margin-bottom: 70px;
	}
	.hand .hand-text p {
		font-size: 20px;
	}
}

@media screen and (max-width: 576px){
	header{
		display: none;
	}
	.first-block-header{
		position: relative;
		.menu_btn{
			position: absolute;
			right: 0;
			display: block;
			margin-top: 10px;
		}
	}
	.h1 {
		font-size: 22px;
	}
	.not-sale .redarr {
		display: none;
	}
	.first-block-header{
		flex-direction: column;
		align-items: flex-start;
	}
	.borderBottom::after{
		width: 100%;
	}
	.bold, .answear .text, .answear ul li{
		font-size: 17px;
	}
	.second-block-header{
		padding: 40px 0;
	}
	.second-block-header .consult-btn{
		font-size: 17px;
	}
	p, body{
		font-size: 15px;
	}
	.first-block-header .logo-h{
		width: auto;
		img{
			width: 30px;
		}
	}
	.price-card .info1 {
		    min-height: 150px;
	}
	.price-card  {
		margin-bottom: 30px;
	}
	.not-sale {
		padding: 30px 0;
	}
	.nav-tab-item .nav-tabs {
		flex-direction: column;
	}
	.nav-tab-item .nav-item {
		border-radius: 0;
		width: 100%;
		height: auto;
		padding: 20px 0;
		span {
			display: none;
		}
	}
	#nav-tabContent {
		padding: 20px 15px;
		margin-top: 30px;
	}
	#nav-tabContent img {
		display: none;
	}
	.hand .hand-text {
		width: 100%;
		text-align: left;
		padding-top: 150px;
	}
	.hand .hand-text p {
		font-size: 18px;
		line-height: 28px;
	}
	.hand .hand-text {
		margin-bottom: 70px;
	}
}
